In [4]:
import pandas as pd
import psycopg2 
import glob
import os
import glob

In [36]:
path = '/home/syrico/latihan_git/read_multiple_files/raw_data'

files = glob.glob(path+'/*.x*')
print(files[0])

/home/syrico/latihan_git/read_multiple_files/raw_data/file_3.xlsx

In [30]:
df = pd.read_excel(files[0], 
                    sheet_name=None)

df

{'S_1':    order_id  item_id
 0       104       33
 1       105       34
 2       106       55,
 'S_2':    order_id  item_id
 0        89       12
 1        88       14
 2        98       15,
 'S_3':    order_id  item_id
 0       100       23
 1       101       24
 2       102       23}

In [32]:
df_concat = pd.concat(df, ignore_index=True)
df_concat

   order_id  item_id
0       104       33
1       105       34
2       106       55
3        89       12
4        88       14
5        98       15
6       100       23
7       101       24
8       102       23

In [40]:
li =[]
for file in files:
    df = pd.read_excel(file, 
                    sheet_name=None)
    df_concat = pd.concat(df, ignore_index=True)
    li.append(df_concat)

full_df =pd.concat(li,axis=0, ignore_index=True)

In [41]:
full_df

    order_id  item_id
0        104       33
1        105       34
2        106       55
3         89       12
4         88       14
5         98       15
6        100       23
7        101       24
8        102       23
9         12      112
10        14      114
11        15      115
12        22      122
13        24      124
14        25      125
15        32      132
16        34      134
17        35      135
18        52      152
19        54      154
20        55      155
21        62      162
22        64      164
23        65      165
24        72      172
25        74      174
26        75      175

In [35]:
df = pd.read_excel('/home/syrico/Downloads/aes/SD/data_latih/Literasi/SD/SD_Hamid Redi.xlsx', 
sheet_name=None)

In [49]:
file = pd.ExcelFile('/home/syrico/Downloads/aes/SD/data_latih/Literasi/SD/SD_Hamid Redi.xlsx')

In [50]:
names = file.sheet_names
file = pd.concat([file.parse(name) for name in names])

In [51]:
file.shape

(1801, 9)

In [27]:
data = {'sheet_1':'xxxx', 'sheet_2':'yyyy'}
df.keys()

dict_keys(['LTR-1', 'LTR_2', 'LTR_3', 'LTR_4'])

In [36]:
df_concat = pd.concat(df, ignore_index=True)

In [52]:
df_concat.shape

(1801, 9)

In [204]:
df_not_na_wo['Skoring'] = df_not_na_wo['Skoring'].astype('str').astype('int')

/home/syrico/widya/lib/python3.7/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [205]:
df_des = df_not_na_wo.groupby(['item_id','fte_data']).mean()

In [206]:
df_des_post = df_des.reset_index()
df_des_post['Skoring'].unique()
df_des_post.shape

(1371, 3)

In [207]:
df_des_post['Skoring'].unique()

array([0.        , 0.125     , 0.375     , 1.        , 0.75      ,
       0.25      , 0.5       , 0.33333333, 0.2       , 0.4       ])

In [208]:
df_des_post['Skoring'] = df_des_post.apply(lambda x: 1 if x['Skoring'] >= 0.5 else 0, axis = 1)

In [212]:
print(df_des_post.shape)
print(df_des_post['Skoring'].unique())

(1371, 3)
[0 1]

In [213]:
df_des_post.to_csv('/home/syrico/Downloads/aes/SD/data_latih/data_latih_after_process_describe_mas_noven.csv', index=False)